@tailwind base;
@tailwind components;
@tailwind utilities;

.v-center {
  @apply flex flex-col justify-center;
}

.p-button {
  @apply text-[4.267vw] text-white text-center font-bold bg-primary w-full h-[13.867vw] rounded-xl v-center;
}

.h-title {
  @apply text-primary font-bold text-[9.6vw] leading-[11.2vw];
}

.f-page {
  height: 100%;
  box-sizing: border-box;
}

html,
body,
#root {
  height:stretch;
}
